* {
    margin: 0;
    padding: 4px;
    box-sizing: border-box;

}

body {
    font-family: 'Poppins', sans-serif 16px;
    margin: auto;
    padding: auto;
} 

@media (max-width: 500px) {
    body{
        color: blue;
    }
}


.header {
    /* padding: 50px 0; */
    height: 65px;
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: rgb(249, 249, 252) 0px 1px 10px;
    /* margin-right: 4px; */
    /* margin-left: 4px; */
    outline: none;
    border: rgb(143, 141, 141);
    position: absolute;
    position: fixed;

}

a{
    color: #888888;
}

h3{
    font-size: 22px;
    font-family: cursive;
}

 

ul a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.container-2 h5:hover {
    background-color: rgb(247, 242, 242);
    box-shadow: 5px 10px #888888;
    border-radius: 50px;
    /* padding: 7px; */
    transition: 0.4s;
}



nav {
    box-shadow: 2px 6px #f7f1f1;
    width: 100%;
}

/* This is order list */

ul li {
    list-style-type: none;

}

.ver1 {
    border-right: 1px solid rgb(240, 233, 233);
    box-shadow: rgb(243, 243, 248) 0px 1px 10px;
    height: 31px;
    outline: none;
}

input {
    font-size: 20px;
    border: white;
    outline: none;
}

.fa-solid{
    padding: 20px;
}

.fa-solid:hover{
    background-color: rgb(212, 208, 208);
    transition: 1s;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;
}

.header-logo {
    padding: 40px;
    margin: 10px;
}

ul {
    display: flex;
    /* gap: 1em; */
}

.container {
    display: flex;
    justify-content: center;
    box-shadow: rgb(246, 246, 250) 0px 1px 10px;
    outline: none;
    margin-left: auto;
    margin-right: auto;
    border: 1px rgb(158, 155, 155) solid;
    border-radius: 50px;
    height: 60px;
    /* padding-left: 200px; */
    padding-right: 2px;

}



.container .col-4 {
    display: flex;
    justify-content: space-between;
    /* padding: 1px; */
    max-width: 1080px;
    /* height: 65px; */
}

.col-4 p{
    padding-left: 50px;
}

.col-4 h3{
    padding-left: 50px;
}

a{
    text-decoration: none;
}


.container-2 {
    max-width: 1080px;
    /* padding: 4px; */
    /* font-size: 20px; */
}

.container-3{
    /* display: flex; */
    border: 1px solid;
    color: rgb(233, 227, 227);
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    /* max-height: 100px; */
    height: 50px;
}

.container-3 :hover{
    background-color:white;
    transition: 1s;
    box-shadow: 2px 5px #e9e7e7;
    border-radius: 40px;
}



.row-p{
    display: flex;
    justify-content: space-between;
    /* padding: 2px; */

}

.col-2 {
    display: flex;
    gap: 2em;
}

.gova {
    /* background-color: rgb(255, 56, 92); */
    border-radius: 80%;
    outline: none;
}


.row4 .col-4 img {
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 20px;
    /* margin-left: 20px; */
    margin: 2.4vh;
    /* padding-left: 4%; */
    /* padding-right: 20px; */
    border-radius: 20px;
}


.col-4 img{
    justify-content: space-between;
    padding-block: 10px;
    max-height: 1080px;
    height: fit-content;
}

.col-4 p{
    /* padding-right: 20px; */
    font-size: 12px;
    font-family: arial;
}

.row4 {
    padding-left: 50px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: arial;

}

.banner-down .col-2::after :hover{
    /* border: 1px solid; */
    background-color: rgb(24, 23, 23);
}



.banner-down{
    width: 100%;
}

.banner-down .col-2 {
    display: flex;
    justify-content: space-between;
    /* border: 0.5px solid; */
    width: 100%;
    /* border-radius: 10px; */
    /* box-shadow: 5px 10px #f7f4f4; */
    /* padding-left: 10px 0; */
    /* padding-right: 10px 0; */
    /* padding: 25px; */
    /* position: relative; */
    /* position: fixed; */
}

.banner-down .col-2 {
    background-color:white;
    /* position: fixed; */
}

.icon-cont-active{
    border-bottom: 5px solid rgb(14, 14, 14);
    transition: .5s;
}

.icon-cont:hover{
    border-bottom: 1px solid rgb(19, 18, 18);
    transition: .5s;
    padding-top: 3px;
}


.footer{
    display: flex;
    justify-content: center;
    box-shadow: 7px 10px #f3f3f3;
    font-family: arial;
    position: relative;
    position: fixed;  

}


.banner-10 .ghe-o{
    display: flex;
    text-align: right;
    justify-content: center;
    float: right;
    border: 2px solid rgb(231, 226, 226);
    box-shadow: 5px 10px #f1eeee;
    width: 100%;
    position: relative;

}
/* 
.ghe-o{
    display: flex;
    justify-content: flex-end;
    float: left;
    text-align: right;
}  */

.ghe-o{
    position: relative;
    position: fixed;
}

